$main: darkblue;
$secondary: orange;
$green: green;
$orange: orange;
$brightOrange: rgb(255, 217, 134);
$darkOrange: rgb(255, 145, 0);
$red: red;
$textticker-bg: darkgreen;
$lightgrey: #CCCCCC;
$bg-color: lightblue;