.diamond-list {
  list-style: none;
  position: relative;
}
.diamond-item {
    transform: rotate(45deg);
    box-sizing: border-box;
    overflow:hidden;
    border-radius: 20px;
    display: block;
    opacity: 0.1;
    width: 83.4386px;
    height: 83.4386px;
    position: absolute;
    transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
    transition: all 0.3s ease-out;

    .content {
        width: 118px;
        height: 118px;
        transform: rotate(-45deg);
        transform-origin: center center;
        box-sizing: border-box;
        margin: -20.7106781185% 0 0 -20.7106781185%;
        img {
            display: block;
            border: 0;
        }
    }
}

.diamond-list-container {
    margin-left: auto;
    margin-right: auto;
}

.filter-column{
    width: auto;
    display:inline-block;
    span{
        font-size: 14px;
        padding-right: $mainPadding;
    }
    input{
        padding: 5px;
        border-radius: 1px;
        border: 1px solid black;
        font-size: 12px;
        background-color: $brightOrange;
    }
}

.select-container {position:relative; display: inline;}

// state style with smacss naming convention
.is-dropdown-open{
    .dropdown-list{display:block;}
}
.dropdown-label{
    padding: .5em;
    background: $orange;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin:0px;
    position: relative;
    font-size: 12px;
    min-width: 50px;
    
    cursor:pointer;
    &:hover{
        background: $darkOrange;
    }
    p{
        margin:0px;
        margin-right: 15px;
        display:inline-block;
        vertical-align: middle;
    }
}

.dropdown-wrapper{
    display:inline-block;
    &:focus {
        outline: none;
        box-shadow: 0 0 6px rgba(81, 203, 238, 1);
    }
}

.arrow-up{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    right: 5px;
    $padding:0;
    top: 13px;
    margin: 0px 0px 0px 5px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent black transparent;
}

.arrow-down{
    position: absolute;
    display: inline-block;
    padding:0;
    width: 0;
    height: 0;
    right: 5px;
    top: 13px;
    margin: 0px 0px 0px 5px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: black transparent transparent transparent;
}

.dropdown-list{
    padding: 0;
    margin:0;
    display:none;
    min-width:120px;
    border: 1px solid black;
    border-radius: 5px;
    width:auto;
    overflow: auto;
    position: absolute;
    z-index: 1;
    &:focus {
        outline: none;
        box-shadow: 0 0 6px rgba(81, 203, 238, 1);
      }
    .dropdown-item {
        background: $orange;
        padding: 5px;
        font-size: 12px;
        border-bottom: 1px solid black;
        list-style: none;
        cursor: pointer;
        &:hover{
            background: $darkOrange;
        }
        &:last-child {
            border: 0;
        }
        &[aria-selected="true"]{
            background: #bde4ff;
        }
    }
}

@media (min-width: $l_S_Breakpoint){
    .diamond-list-container{
        width:500px;
    }
    .filter-column{
        width: 100%;
        padding: $mainPadding;
    }
}
@media (min-width: $l_M_Breakpoint){
    .diamond-list-container{
        width:768px;
    }
    .filter-column{
        width: auto
    }
    
}
@media (min-width: $l_L_Breakpoint){
    .diamond-list-container{
        width:992px;
    }
}
@media (min-width: $l_XL_Breakpoint){}
.l-center-margins{
    max-width: 994px;
    margin-left: auto;
    margin-right: auto;
}