@import "variables";
@import "colors";
@import "layout";
@import "diamond-list";

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot'), /* IE9 Compat Modes */
  url('../fonts/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-Regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold.eot'), /* IE9 Compat Modes */
  url('../fonts/OpenSans-Semibold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-Semibold.svg') format('svg'); /* Legacy iOS */
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.eot'), /* IE9 Compat Modes */
  url('../fonts/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-Bold.svg') format('svg'); /* Legacy iOS */
  font-weight: 800;
}
html {
  overflow-x: hidden;
}
hr {
  width: 100%;
  height: 1px;
  margin-top: $mainPadding;
  margin-bottom: $mainPadding;
  border:0px;
  background: $darkOrange;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: $lightgrey;
}

h1{
  font-weight: 800;
}
h2,h3{
  font-weight: 600;
  margin:0px;
}
section {
  &#text-ticker{
    background-color: $textticker-bg;
    min-height: 200px;
  }
  &#skills{
    background-color: $orange;
    rect{

      stroke: black;
    }
  }
  &.projects{
    background-color: $green;
  }
  &.diamonds{
    background-color: $orange;
  }
  &.map{
    background-color: $orange;
    margin: 0 !important;
    padding: 0 !important;
  }
  //min-height: 100vh;
  margin: 0;  
  padding: $mainPadding;
}

footer {
  background-color: $lightgrey;
  min-height: 40px;
  max-width: 100%;
  padding: $mainPadding;
  position: relative;
  bottom: 0px;
}